<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Python - Jinfo</title>
</head>
<body>

    <h1>{{ variavel }}</h1>
    <hr>

    <form action="{{ url_for('index') }}" method="post">
        <fieldset>
            <h3>Q1 - Qual a sintaxe do <i>Hello Wolrd</i> em python</h3>
            <br>
            
            <input type="radio" name="questao1" value="A" id="a1">
            <label for="a1">print('Hello World')</label>
            <br>

            <input type="radio" name="questao1" value="B" id="b1">
            <label for="b1">echo "Hello World";</label>
            <br>

            <input type="radio" name="questao1" value="C" id="c1">
            <label for="c1">write("Hello World");</label>
            <br>

        </fieldset>

        <fieldset>
            <h3>Q2 - Como receber um valor de entrada em python</h3>
            <br>
            
            <input type="radio" name="questao2" value="A" id="a2">
            <label for="a2">a = input()</label>
            <br>

            <input type="radio" name="questao2" value="B" id="b2">
            <label for="b2">scanf("%d", a);</label>
            <br>

            <input type="radio" name="questao2" value="C" id="c2">
            <label for="c2">read(a);</label>
            <br>

        </fieldset>

        <fieldset>
            <h3>Q3 - Quem é o criador da linguagem de programação python:</h3>
            <br>
            
            <input type="radio" name="questao3" value="A" id="a3">
            <label for="a3">Linus Torvalds</label>
            <br>

            <input type="radio" name="questao3" value="B" id="b3">
            <label for="b3">Tim Berners-Lee</label>
            <br>

            <input type="radio" name="questao3" value="C" id="c3">
            <label for="c3">Guido van Rossum</label>
            <br>

        </fieldset>

        <fieldset>
            <h3>Q4 - Qual dos tipos de variáveis não é legal em python?</h3>
            <br>
            
            <input type="radio" name="questao4" value="A" id="a4">
            <label for="a4">_var = 10</label>
            <br>

            <input type="radio" name="questao4" value="B" id="b4">
            <label for="b4">va-r = 10</label>
            <br>

            <input type="radio" name="questao4" value="C" id="c4">
            <label for="c4">var1 = 10</label>
            <br>

        </fieldset>

        <fieldset>
            <h3>Q5 - Quais são os operadores lógicos em python?</h3>
            <br>
            
            <input type="radio" name="questao5" value="A" id="a5">
            <label for="a5">&& e ||</label>
            <br>

            <input type="radio" name="questao5" value="B" id="b5">
            <label for="b5">and e or</label>
            <br>

            <input type="radio" name="questao5" value="C" id="c5">
            <label for="c5">& e |</label>
            <br>

        </fieldset>

        <fieldset>
            <h3>Q6 - Como é o começo da estrutura de condição <i>if</i> em python?</h3>
            <br>
            
            <input type="radio" name="questao6" value="A" id="a6">
            <label for="a6">if 5 > 4 then</label>
            <br>

            <input type="radio" name="questao6" value="B" id="b6">
            <label for="b6">se a == b faça</label>
            <br>

            <input type="radio" name="questao6" value="C" id="c6">
            <label for="c6">if 5 >= 0:</label>
            <br>

        </fieldset>



        <br>
        <button>Enviar</button>



    </form>

</body>
</html>